@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/initial-settings";
@import "./utils/visually-hidden";
@import "./components/common-styles";
@import "./components/logo";
@import "./layout/header";
@import "./pages/main__hero";
@import "./pages/main__priorities";
@import "./pages/main__projects";
@import "./pages/main__staff";
@import "./components/social-media";
@import "./pages/main__clients";
@import "./components/submit-btn";
@import "./layout/footer";
@import "./components/modal-window";
@import "./components/modal-window__close-btn";
@import "./components/modal-window__call-form";
@import "./pages/portfolio__filter";
@import "./pages/portfolio__gallery";
