.header {
  &__container {
    width: 100%;
    border-bottom: 1px solid $divider-line;
  }
}
@media screen and (min-width: 480px) {
  .header {
    &__container {
      width: 480px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__container {
      position: relative;
    }

    &__logo-wrapper {
      width: 100%;
      position: relative;
    }

    &__content {
      width: 100%;
      padding: 48px 40px;
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      opacity: 0;
      visibility: 0;
      z-index: 100;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__content.is-open {
      transform: translateY(0);
      opacity: 1;
      visibility: 1;
    }
  }
  .menu-btn {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    &--close {
      right: 15px;
    }

    &__icon {
      width: 40px;
      height: 40px;
      fill: currentColor;
      @include transition(fill);
    }

    &:hover &__icon,
    &:focus &__icon,
    &:active &__icon {
      fill: $accent-blue;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
    &__item:last-child {
      margin-bottom: 306px;
    }
    &__link {
      display: inline-block;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: $txt-main;

      &--current {
        color: $accent-blue;
        position: relative;
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;

    &__item:nth-child(2) {
      margin-top: 32px;
    }
    &__item:first-child {
      margin-top: 64px;
    }

    &__link {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.176;
      letter-spacing: 0.02em;
      color: $accent-blue;
      @include transition(color);

      &--email {
        color: $txt-paragraph-grey;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
      }
    }
    &__icon {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      min-width: 768px;
      display: flex;
      justify-content: space-between;
    }

    &__content {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      margin-left: 87px;
    }
  }

  .menu {
    column-gap: 50px;

    &__link {
      padding: 32px 0;
      display: inline-block;
      height: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: $txt-main;

      &--current {
        color: $accent-blue;
        position: relative;

        &::after {
          content: "";
          display: block;
          bottom: 0;
          left: 0;
          position: absolute;
          transform: translateY(1px);
          width: 100%;
          height: 4px;
          border-radius: 3px;
          background-color: $accent-blue;
        }
      }
    }
  }

  .menu-btn {
    display: none;
  }

  .menu {
    display: flex;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__link {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      color: $txt-paragraph-grey;
      @include transition(color);
    }

    &__item:last-child {
      margin-top: 10px;
    }

    &__icon {
      width: 14px;
      height: 14px;
      margin-right: 8px;
      fill: $txt-paragraph-grey;
      @include transition(fill);

      .contacts__link:hover &,
      .contacts__link:focus & {
        fill: $accent-blue;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__container {
      min-width: 1200px;
    }
    &__content {
      margin-left: 92px;
    }
  }
  .contacts {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;

    &__link {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: $txt-main;
      @include transition(color);
    }

    &__item:last-child {
      margin-top: 0;
    }

    &__icon {
      width: 14px;
      height: 14px;
      margin-right: 10px;
      fill: $txt-paragraph-grey;
      @include transition(fill);
    }
  }
}
