.list {
  list-style: none;
  padding-left: 0;
}
.btn {
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  color: $txt-main;
  background-color: $light-grey;
  cursor: pointer;
  @include transition(background-color);

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-blue;
  }
}
.links {
  color: inherit;
  text-decoration: none;
  @include transition(color);

  &--selected:hover,
  &--selected:focus {
    color: $accent-blue;
  }
}
.display-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 1px solid $divider-line;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    min-width: 480px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
