.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $txt-logo-black;

  &__accent {
    color: $accent-blue;
  }
}

.navigation__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 91px;
}

.footer__logo {
  color: $white;
  margin-bottom: 20px;
}
