.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex-center;
  padding: 0;
  margin: 0;
  z-index: 10;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &__icon {
    width: 18px;
    height: 18px;
    fill: $txt-logo-black;
    @include transition(fill);
    z-index: 15;

    .close-btn:hover &,
    .close-btn:focus & {
      fill: $accent-blue;
    }
  }
}
