.modal-overlay {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include transition(opacity);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  .modal-overlay.is-hidden & {
    transform: translate(-50%, -50%) scale(2);
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex-center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;

  &__icon {
    width: 18px;
    height: 18px;
    @include transition(fill);

    .close-btn:hover &,
    .close-btn:focus & {
      fill: $accent-blue;
    }
  }
}
