.staff {
  background-color: $light-grey;
  &__container {
    width: 100%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 30px;
  }
  &__item {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__meta {
    padding: 30px 15px 24px;
  }
  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $txt-paragraph-grey;
  }
}
@media screen and (min-width: 480px) {
  .staff {
    &__container {
      width: 480px;
    }
    &__img {
      max-height: 460px;
    }
  }
  @media screen and (min-width: 768px) {
    .staff {
      &__container {
        width: 768px;
      }
      &__list {
        gap: 30px;
      }
      &__item {
        width: calc((100% - 30px) / 2);
      }
      &__img {
        max-height: 374px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .staff {
    &__container {
      width: 1200px;
    }
    &__list {
      column-gap: 30px;
    }
    &__item {
      width: calc((100% - 90px) / 4);
    }
    &__img {
      max-height: 260px;
    }
    &__meta {
      padding: 30px 15px;
    }
  }
}
