.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $bg-hero-alt;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg/hero-bg-image-480-1x-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &__container {
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
  }
  &__btn {
    min-width: 200px;
    min-height: 50px;
    @include transition(background-color, box-shadow);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: $bg-btn-active;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-480-2x-min.jpg");
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-480-2x-min.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    min-width: 480px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-768-1x-min.jpg");

    &__container {
      width: 360px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-768-2x-min.jpg");
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-768-3x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-1600-1x-min.jpg");

    &__container {
      width: 360px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-1600-2x-min.jpg");
  }
}
@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg/hero-bg-image-1600-3x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    &__container {
      width: 696px;
    }

    &__header {
      font-size: 44px;
      line-height: 1.36;
    }

    &__btn {
      min-width: 216px;
    }
  }
}
