.clients {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    @extend %flex-center;
    width: 170px;
    min-height: 92px;
    border: 1px solid $icon-grey;
    border-radius: 4px;
    @include transition(border-color);

    &:hover,
    &:focus {
      border-color: $accent-blue;
      outline: none;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $icon-grey;
    @include transition(fill);

    .clients__link:hover &,
    .clients__link:focus & {
      fill: $accent-blue;
    }
  }
}
